
body{
    background-image: url(images/loginwal.jpg);
    background-size: cover;
}

.buttonlist{
    text-align:center ;
    background-color: transparent;
    margin-top: 100px;
}

.login{
    background-color: transparent;
    border: 2px solid white;
    width: 15%;
    margin-bottom: 10px;
}

.register{
    background-color: transparent;
    border: 2px solid white;
    width: 15%;
}


.actions{
    text-align: center;
    border-radius: 3px;
}

button:hover{
    background-color: transparent;
}

h1{
    margin-top: 10%;
    user-select: none;
    font-size: 400%;
}

p:hover{
    transform: scale(1.05)
}