*{
    font-family: koulen;
}

h1{
    font-size: 300%;
    text-align: center;
    margin: auto;
    text-shadow: 3px 3px 1px lightgrey;
    margin-right: 10%;
}
h2{
    user-select: none;
    font-size: 300%;
    font-family: koulen;
    margin-top: 50px;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.top{
    padding-bottom: 300px;
    background-image: url(images/figback.jpg);
    background-size: cover;
}

.searchloc{
    text-align: center;
}

#searchbar{
    font-family: koulen;
    font-size: larger;
    border: 2px solid black;
    border-radius: 3px;
    padding-left: 20px;
    width: 30%;
}

#product1{
    text-align: center;
    width: 100%;
}

#product1 .pro-container{
   width: 100%;
   align-items: center;
   justify-content: center;
   
}

#product1 .pro{
    width: 80%;
    min-height: 250px;
    padding: 10px 12px;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.329);
    margin-left:6%;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.548);
    transform: scale(1.02); 
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;

}

#product1 .pro .des{
    text-align: center;
    padding: 10px 0;

}

#product1 .pro .des h5{
    margin: auto;
    color: #1a1a1a;
    font-size: 22px;
}

#product1 .pro .des i{
    font-size: 25px;
    color: rgb(243, 181,25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 24px;
    font-weight: 700;
    color: cadetblue;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e2e2e2d7;
    font-weight: 800;
    color: cadetblue;
    border: 1px solid orange;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.section-p1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#homepage{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 40px;
    margin-top:20px ;
    float: left;
    font-family: koulen;
    font-size: large;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover { 
    text-decoration: none;
    transform: scale(1.05);
    transition: width 2s;

   
}
a{
    color: white;
}

.footer{
    background-color: grey;
    margin-top: 150px;
    padding-bottom: 50px;
    border: 2px solid black;
}

h3{
    text-align: center;
    font-size: 200%;
}

p{
    text-align: center;
    text-shadow: none;
}

span{
    text-shadow: none;
}