body{
    background-image: url(images/sao.jpg);
    background-size: cover;
    text-shadow: 3px 3px 1px black;
}

* {
    font-family: koulen;
    color: white;
}

.button{
    margin-left: 20px;
    margin-top: 35px;
}

#homepage{
    background-color: transparent;
    border: 2px solid white;
    font-size: large;
    border-radius: 3px;
    float: left;
}

h1{
    font-size: 300%;
    text-align: center;
    color: white;
    user-select: none;
    margin-right: 160px;
}

.mentions{
    text-align:center ;
    font-size: 200%;

}

a:link{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: aquamarine;
    
}

a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

button:hover{
    transform: scale(1.05);
    color: aquamarine;
}

p:hover {
    transform: scale(1.05);
}

