*{
    font-family: koulen;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 1px black;
}

h1{
    text-align: center;
    margin: auto;
    font-size: 300%;
    background-color: rgb(79, 78, 107);
    text-shadow: 4px 4px 1px black;
}
body{
    background-color: #121C22;
}